body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
   
}
.game-info{
    font-size: larger;
    color:white;
    background-color:rgba(255, 255, 255, 0.15) ;
    border-radius: 1rem;
    border:1px solid rgba(255, 255, 255, 0.25) ;
    padding: 0.5rem;
}

.box-container{
    aspect-ratio: 1/1;
    width: 300px;
    height: 300px;
    display: grid;
    border-radius:20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem 3rem;
    background-color:rgba(255, 255, 255, 0.15) ;
    border:1px solid rgba(255, 255, 255, 0.25) ;
    padding: 30px;
}
.box{
    aspect-ratio: 1/1;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;

}
.box3, .box6{
    border-bottom: 2px solid white;
}
.box7, .box8{
    border-right: 2px solid white;
}
.btn{
    display: none;
    background-color:rgba(255, 255, 255, 0.15) ;
    border:1px solid rgba(255, 255, 255, 0.25) ;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}
.btn.active{
    display: flex;
}
.win{
    background-color: rgba(0,255,0,0.3);
}
.tie{
    background-color: rgba(222, 33, 33, 0.915);
}







